@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@font-face {
    font-family: 'Header';
    src: url('estilo/TechnoBoard.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Destaque';
    src: url('estilo/idroid.otf') format('opentype');
}

:root {
    --cor00: #2A5159;
    --cor01: #183B59;
    --cor02: #2A5159;
    --cor03: #327355;
    --cor04: #5C8C46;

    --fonte-header: 'Header', sans-serif;
    --fonte-destaque: 'Destaque', sans-serif;
}

body {
    background-color: var(--cor02);
}

header {
    background-image: linear-gradient(to top, var(--cor01), var(--cor02), var(--cor00));
    padding-top: 40px;
    text-align: center;
}
header h1 {
    font-family: var(--fonte-header);
    color: white;
    font-size: 3em;
    padding-bottom: 10px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 45px;
}

nav {
    background-color: #183B59;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.219);
    padding: 10px;
}
nav > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
    padding: 10px;
}
nav > a:hover {
    color: #183B59;
    background-color: var(--cor03);
    text-decoration: underline;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    max-width: 1000px;
    min-width: 325px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 30px;
    margin: auto;
}

main h1 {
    color: var(--cor03);
    font-family: var(--fonte-destaque)
}
main h2 {
    color: var(--cor03);
    font-family: var(--fonte-destaque);
}
main h3 {
    font-family: var(--fonte-destaque);
    color: var(--cor03);
}

main img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}


footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}
